@font-face {
    font-family: Datatype;
    src: url(./assets/Datatype-Regular.ttf);
}

html {
    height: 100%;

    --bg: #dbdbd0;
    --outline: #adaba1;
    --text: #302d2c;
    --text-ui: #dce1e8;
    --link: #3d79d3;
    --link-light: #6999e0;
    --focus: rgba(105, 153, 224, 0.5);

    --canvas-width: 330px;
    --canvas-height: 540px;

    --brown-wood: #54473f;
    --brown-wood-outline: #63594e;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    padding-block: 10px;

    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg);
    color: var(--text);

    font-family: Datatype;
    font-size: 18px;
}

.center {
    min-width: fit-content;
    min-height: fit-content;

    .infobar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.game {
    /* Account for border width */
    min-width: calc(var(--canvas-width) + 2px);
    max-width: calc(var(--canvas-width) + 2px);
    min-height: calc(var(--canvas-height) + 2px);
    max-height: calc(var(--canvas-height) + 2px);
    border: solid 1px var(--outline);

    background-color: #85b4e2;

    position: relative;
}

h1 {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
}

a, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-light);
    cursor: pointer;
    text-decoration: underline;
}

a:focus-visible {
    outline: solid 2px var(--focus);
}

#canvas {
    image-rendering: pixelated;
}

#ui {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: fit-content;
    color: var(--text-ui);

    padding: 6px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    pointer-events: none;

    #hint {
        padding-bottom: 20px;
    }

    #results {
        pointer-events: all;
        height: 320px;
        width: 220px;
        background-color: var(--brown-wood);
        border: solid 1px var(--outline);
        margin-bottom: 80px;
        padding: 6px 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .separated {
            flex-grow: 1;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        #fishlist {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .fishcell {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 6px;
            border: solid 1px var(--brown-wood-outline);

            img {
                height: 32px;
                width: 32px;
                object-fit: contain;
                image-rendering: pixelated;
            }
        }

        .result-buttons {
            display: flex;
            button {
                margin-left: auto;
                font-family: inherit;
                font-size: inherit;
                border: none;
                background-color: var(--brown-wood-outline);
                border: solid 1px var(--outline);
                color: var(--text-ui);

                &:hover {
                    background-color: var(--brown-wood);
                    cursor: pointer;
                }
            }
        }
    }
}
